.panel .contenido{
    width: 650px;
    height: 400px;
    margin: 43px auto;

    /* background-color: green; */
  }  

  .panel .contenido .items{
    margin: auto;
    width: 450px;
    font-size: 20px;

    /*  background-color: aqua;  */
  }

  .panel .contenido .items input{
    height: 20px;  
    width: 50%;
  }

  .panel .contenido input {
    height: 40px;
    margin-top: 1px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    color: #FFF;
    border-radius: 3px;
    font-size: 14px;
  }

  .panel .contenido input.submit {
    background: rgba(255,255,255,.9);
    color: #444;
    font-size: 14px;
    font-weight: bold;
  }  
  .panel .contenido input.submit:hover {
    background: rgb(171, 213, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;    
    height: 44px;
  }
  