body{
  background: linear-gradient(120deg, #36d1dc, #5b86e5) fixed;
  height: 1000px;
}

.cabecera{
  background-color: #050f5a;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  width: 88%; 
  height: 96px;
  border: 1px solid rgb(152, 204, 255);
  border-radius: 5px;
  margin: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);

}

.cabecera .h2{

  color: #FFF;
  font-size: 20px;
  padding-left: 7%;
  margin-top: 36px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.cabecera .perfil{

  margin-right: 5%; 
  margin-top: 20px; 
  float:right; 
  text-align:right;

}

.cabecera .logo{
  margin-top: 15px; 
  margin-left: 9px; 
  float:left;
}

.cabecera .a{
  color: rgb(255, 255, 255);
}
.cabecera .a:hover 
{
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
  font-size: 18px;
}

.a{
  font-size: 17px;  
  color: inherit;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.a:hover 
{
  color:#e4e6ff; 
  text-decoration:none; 
  cursor:pointer;  
  font-size: 18px;
}

.columna_der{
  float: left;
  /* position: fixed; */
  width: 285px;
  height: 500px;
  margin-left: 90px;
  border-radius: 10px;

  padding-left: 25px;
  padding-top: 15px;
  line-height: 40px;  
  background-color: #2d46ff8d;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.panel{
  width: 650px;
  height: 540px;
  margin: 2% 38% auto;
  text-align: center;
  font-size: 23px;
  border-radius: 3%;
  border: 5px solid #050f5a;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.panel h2{
  padding-top: 18px;
}

.circle{
  color: #00A0C6;


}

.circular-process{
  margin: 0 auto;
  text-align: center;
}

.container .columna_der .dropdown .dropdown-content a{  
  font-size: 12px;  
  color: inherit;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

.dropdown {
  /* position: relative; */
  display: inline-block;
}

/* .dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
} */

.dropdown-content {
  width: 100%;  
  display: none;
  color: #000;
  border-radius: 3%;
  background-color: #2d46ff8d;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  border: 1px solid #004c82;
  /* position: absolute;
  min-width: 160px;
  overflow: auto; */  
}

.dropdown-content a {
  color: black;
  font-weight: bold;
  padding: 0px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {  
  border-radius: 3%;
  background-color: #bbf0ff;
  border: 1px solid #050f5a;
}

/* .dropdown a:hover {background-color: #f1f1f1} */

.show {display:block;}


.panel .contenido{
  width: 650px;
  height: 400px;
  margin: 43px auto;

  /* background-color: green; */
}  

.panel .contenido .items{
  margin: auto;
  width: 450px;
  font-size: 20px;

  /*  background-color: aqua;  */
}

.panel .contenido .items2{
  width: 230px;
  font-size: 20px;

   /* background-color: aqua;  */
}

.panel .contenido .items input{
  height: 20px;  
  width: 50%;
  color: #000;
}

.panel .contenido input {
  height: 40px;
  margin-top: 1px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.1);
  color: #FFF;
  border-radius: 3px;
  font-size: 14px;
}

.panel .contenido textarea {
  margin-top: 8px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.1);
  color: #000;
  border-radius: 3px;
  font-size: 14px;
}

.panel .contenido input.submit {
  background: rgba(255,255,255,.9);
  color: #444;
  font-size: 14px;
  font-weight: bold;
  margin: 2%;
  
}  
.panel .contenido input.submit:hover {
  background: rgb(171, 213, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;    
  height: 44px;
}

.combobox{
}